

@media screen and (min-width: 600px){
    #mediaquErygrid{ 
        header{
            .foNdo2 {
                li{
                 a{ 
                     display: flex;
                     font-size: large;
                     color: black;
                     font-weight: 700;
                 }
                 a:active{
                     background-color:#87cefa ;
                    
                 }
                 a:hover{
                     background-color: #e6e6dd;
                     text-shadow: 1px 1px yellow;
                    
                 }
             }
         }
             .headErimg{ 
                width: 20%;
            }
        }
        main{
            .h2Grid{
                padding-bottom: 5px;
            }
             iframe{
        border: 5px solid black;
    }
    
        }
        footer{
            img{
                width: 15%;
            }
        }
       
    }
}
   
   //mq de desktop
@media screen and (min-width: 1024px ){
    #mediaquErygrid{
       
         header{
            .foNdo2 {
                li{
                 a{ 
                     display: flex;
                     font-size: large;
                     color: black;
                     font-weight: 700;
                }
            }
        }
            margin: 0px 5px;
            .headErimg{
                width: 10%;
            }
        }
        main{
           
            text-align: center;
            gap: 10px;
            margin: 5px 5px;
            .h2Grid{
                padding-bottom: 5px;
            }
            .orDer1{
                order: 1;
            }
            .orDer2{
                order: 2;
            }
            
            .imgCinco{
                width: 50%;
                height: 50%;
            }
            .imgSeis{
                padding-bottom: 10px;
                width: 60%;
                height: 60%;
            }
            .imgOcho{
                width: 50%;
                height: 50%;
            }
            .conTenedor{ 
                display: flex;
                align-items: center;
                justify-content: space-between;
            } 
            .gridItem{
                padding: 5px 5px ;
            }
            .h3Right{
                text-align: right;
            }
            .h3Left{
                text-align: left;
            }
            main h1 {
                align-items: center;
            }
            iframe{
                width: 100%;
                height: 250px;
            }
        }
        footer{
            margin: 0px 5px;
            img{
                width: 10%;
            }
            
        }
    }
}