* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maiNgrid {
  display: grid;
  border: 1px solid black;
  text-align: center;
  gap: 5px;
  margin: 15px 10px;
  padding: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 100%);
  row-gap: 2rem;
}
.maiNgrid section h1 {
  text-align: center;
  color: #001b3b;
}
.maiNgrid section h2 {
  text-align: center;
  color: #001b3b;
  text-decoration: underline;
}
.maiNgrid section div {
  margin: 5px;
}
.maiNgrid .imgSiete {
  width: 55%;
  height: 70%;
}
.maiNgrid .imgOcho {
  order: -1;
  width: 60%;
  height: 50%;
}
.maiNgrid iframe {
  text-align: center;
  width: 100%;
  height: 10%;
}
.maiNgrid img {
  width: 100%;
  height: 50%;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  #mediAquery header {
    margin: 0px 30px;
  }
  #mediAquery header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #e6e6dd;
  }
  #mediAquery main {
    display: flex;
    text-align: center;
    margin: 15px 30px;
  }
  #mediAquery main .imgDos {
    width: 100%;
    height: 500px;
  }
  #mediAquery main footer {
    margin: 0px 20px;
  }
}
@media screen and (min-width: 600px) and (min-width: 1024px) {
  #mediAquery header {
    margin: 0px 60px;
  }
  #mediAquery header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #e6e6dd;
  }
  #mediAquery main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 60px;
  }
  #mediAquery main section img {
    width: 25%;
    height: 25%;
  }
  #mediAquery main .conTenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mediAquery main .imgDos {
    order: -1;
    width: 20%;
    height: 20%;
  }
  #mediAquery main .conTenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mediAquery main .izquIerda {
    text-align: left;
  }
  #mediAquery main .orDer .derEcha {
    order: 0;
    text-align: left;
  }
  #mediAquery footer {
    margin: 0px 50px;
  }
}
@media screen and (min-width: 600px) {
  #mediaquErygrid .imgHeader {
    width: 8%;
  }
}
@media screen and (min-width: 1024px) {
  #mediaquErygrid header {
    margin: 0px 60px;
  }
  #mediaquErygrid main {
    text-align: center;
    gap: 10px;
    margin: 5px 60px;
  }
  #mediaquErygrid main .orDer1 {
    order: 1;
  }
  #mediaquErygrid main .orDer2 {
    order: 2;
  }
  #mediaquErygrid main .imgCinco {
    width: 50%;
    height: 50%;
  }
  #mediaquErygrid main .imgOcho {
    width: 50%;
    height: 50%;
  }
  #mediaquErygrid main .conTenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mediaquErygrid main .gridItem {
    padding: 5px 5px;
  }
  #mediaquErygrid main .h3Right {
    text-align: right;
  }
  #mediaquErygrid main .h3Left {
    text-align: left;
  }
  #mediaquErygrid main main h1 {
    align-items: center;
  }
  #mediaquErygrid main iframe {
    width: 100%;
    height: 250px;
  }
  #mediaquErygrid footer {
    margin: 0px 50px;
  }
}
footer section {
  box-shadow: 5px -5px 15px black;
  border: 1px solid black;
  background-color: #87cefa;
  margin: 5px 10px;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

main {
  background: url("../imagenes/sol_en_escudo.png") center no-repeat scroll;
  background-size: 500px;
  background-color: transparent;
  background-color: white;
}

header .foNdo2 {
  background: url("../imagenes/imagenes-sol.jpg") center no-repeat scroll;
  background-size: 120px;
  margin: 0px 10px;
  background-color: white;
  list-style: none;
}

header {
  padding: 10px;
  margin: 0px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 15px black;
}

main {
  text-align: center;
  display: flex;
  grid-template-columns: 1fr;
  gap: 2rem;
}

main {
  margin: 15px 10px;
  border: 1px solid black;
  margin: 5px 10px;
  padding: 5px 5px 5px 5px;
}

header {
  background-color: #87cefa;
}
header div .headErimg {
  width: 10%;
}
header .foNdo {
  background-color: #87cefa;
}
header .foNdo2 li a {
  color: black;
  font-weight: 700;
}
header .foNdo2 li a:active {
  background-color: #e6e6dd;
}
header .foNdo2 li a:hover {
  background-color: #e6e6dd;
  text-shadow: 1px 1px yellow;
}

main section h1 {
  text-align: center;
  color: #000d1d;
}
main section div {
  margin: 10px;
}
main h2 {
  text-align: center;
  color: #001b3b;
  text-decoration: underline;
}
main div img {
  height: 25%;
  width: 25%;
}

footer section .a2 {
  color: #001b3b;
  padding: 5px;
}

/*# sourceMappingURL=estilo.css.map */
