* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mediaquErygrid {
  background-color: black;
}

.maiNgrid {
  display: grid;
  border: 1px solid black;
  text-align: center;
  gap: 5px;
  margin: 15px 10px;
  padding: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 100%);
  row-gap: 2rem;
}
.maiNgrid iframe {
  border: 5px solid black;
}
.maiNgrid section h1 {
  text-shadow: 2px 2px 2px rgb(239, 44, 44), 0 0 1em black, 0 0 1em black;
  justify-content: center;
  text-align: center;
  color: yellow;
}
.maiNgrid section h2 {
  text-shadow: 2px 2px 2px rgb(239, 44, 44), 0 0 1em black, 0 0 1em black;
  text-align: center;
  color: yellow;
  text-decoration: underline;
}
.maiNgrid section .h2Grid {
  padding-bottom: 100px;
}
.maiNgrid section h3 {
  text-shadow: 2px 2px 2px black, 0 0 1em black, 0 0 1em #0678c3;
  color: #87cefa;
  text-align: justify;
}
.maiNgrid section .coloRh3 {
  color: rgb(255, 223, 45);
  text-shadow: 2px 2px 2px black, 0 0 1em yellow, 0 0 1em yellow;
}
.maiNgrid section div {
  margin: 5px;
}
.maiNgrid .imgSeis {
  width: 50%;
  height: 50%;
}
.maiNgrid .imgSiete {
  width: 55%;
  height: 70%;
}
.maiNgrid .imgOcho {
  order: -1;
  width: 60%;
  height: 50%;
}
.maiNgrid iframe {
  text-align: center;
  width: 100%;
  height: 10%;
}
.maiNgrid img {
  width: 100%;
  height: 50%;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  #mediAquery header {
    margin: 0px 30px;
  }
  #mediAquery header .headErimg {
    width: 15%;
  }
  #mediAquery header .redirEccion {
    text-align: left;
  }
  #mediAquery header .foNdo2 li a {
    margin-right: 200px;
    display: flex;
    text-align: center;
    font-size: small;
    color: black;
    font-weight: 700;
  }
  #mediAquery header .foNdo2 li a:active {
    background-color: #87cefa;
  }
  #mediAquery header .foNdo2 li a:hover {
    background-color: #e6e6dd;
    text-shadow: 1px 1px yellow;
  }
  #mediAquery header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #e6e6dd;
  }
  #mediAquery main {
    display: flex;
    text-align: center;
    margin: 15px 30px;
  }
  #mediAquery main .imgDos {
    width: 100%;
    height: 500px;
  }
  #mediAquery footer {
    margin: 0px 20px;
  }
  #mediAquery footer section {
    text-align: center;
  }
  #mediAquery footer section img {
    width: 15%;
  }
}
@media screen and (min-width: 600px) and (min-width: 1024px) {
  #mediAquery header {
    margin: 0px 5px;
  }
  #mediAquery header .headErimg {
    width: 15%;
  }
  #mediAquery header .redirEccion {
    text-align: left;
  }
  #mediAquery header .foNdo2 li a {
    margin-right: 300px;
    display: flex;
    font-size: large;
    color: black;
    font-weight: 700;
  }
  #mediAquery header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #e6e6dd;
  }
  #mediAquery main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 5px;
  }
  #mediAquery main section img {
    width: 25%;
    height: 25%;
  }
  #mediAquery main .conTenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mediAquery main .imgDos {
    order: -1;
    width: 20%;
    height: 20%;
  }
  #mediAquery main .conTenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mediAquery main .izquIerda {
    text-align: left;
  }
  #mediAquery main .orDer .derEcha {
    order: 0;
    text-align: left;
  }
  #mediAquery footer {
    margin: 0px 0px;
  }
  #mediAquery footer section img {
    width: 10%;
  }
}
@media screen and (min-width: 600px) {
  #mediaquErygrid header .foNdo2 li a {
    margin-right: 200px;
    display: flex;
    font-size: large;
    color: black;
    font-weight: 700;
  }
  #mediaquErygrid header .foNdo2 li a:active {
    background-color: #87cefa;
  }
  #mediaquErygrid header .foNdo2 li a:hover {
    background-color: #e6e6dd;
    text-shadow: 1px 1px yellow;
  }
  #mediaquErygrid header .headErimg {
    width: 20%;
  }
  #mediaquErygrid main .h2Grid {
    padding-bottom: 5px;
  }
  #mediaquErygrid main iframe {
    border: 5px solid black;
  }
  #mediaquErygrid footer img {
    width: 15%;
  }
}
@media screen and (min-width: 1024px) {
  #mediaquErygrid header {
    margin: 0px 5px;
  }
  #mediaquErygrid header .foNdo2 li a {
    margin-right: 300px;
    display: flex;
    font-size: large;
    color: black;
    font-weight: 700;
  }
  #mediaquErygrid header .headErimg {
    width: 15%;
  }
  #mediaquErygrid main {
    text-align: center;
    gap: 10px;
    margin: 5px 5px;
  }
  #mediaquErygrid main .h2Grid {
    padding-bottom: 5px;
  }
  #mediaquErygrid main .orDer1 {
    order: 1;
  }
  #mediaquErygrid main .orDer2 {
    order: 2;
  }
  #mediaquErygrid main .imgCinco {
    width: 50%;
    height: 50%;
  }
  #mediaquErygrid main .imgSeis {
    padding-bottom: 10px;
    width: 60%;
    height: 60%;
  }
  #mediaquErygrid main .imgOcho {
    width: 50%;
    height: 50%;
  }
  #mediaquErygrid main .conTenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mediaquErygrid main .gridItem {
    padding: 5px 5px;
  }
  #mediaquErygrid main .h3Right {
    text-align: right;
  }
  #mediaquErygrid main .h3Left {
    text-align: left;
  }
  #mediaquErygrid main main h1 {
    align-items: center;
  }
  #mediaquErygrid main iframe {
    width: 100%;
    height: 250px;
  }
  #mediaquErygrid footer {
    margin: 0px 5px;
  }
  #mediaquErygrid footer img {
    width: 10%;
  }
}
footer section {
  box-shadow: 5px -5px 15px whitesmoke;
  border: 1px solid black;
  background-color: #87cefa;
  margin: 5px 10px;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

main {
  background: url("../imagenes/fondo-ar.jpg") center no-repeat scroll;
  background-size: 45%;
  background-color: transparent;
  background-color: white;
}

header .foNdo2 {
  margin: 0px 10px;
  list-style: none;
}

header {
  padding: 10px;
  margin: 0px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 15px whitesmoke;
}

main {
  text-align: center;
  display: flex;
  grid-template-columns: 1fr;
  gap: 2rem;
}

main {
  margin: 15px 10px;
  border: 1px solid black;
  margin: 5px 10px;
  padding: 5px 5px 5px 5px;
}

header img {
  border-radius: 10%/50%;
  border: 2px black solid;
}

main .imgDos, main .imgCuatro, main .imgOcho, main .imgNueve {
  border-top-left-radius: 50%;
  border: black 10px double;
  background-clip: content-box;
}
main .imgDos, main .imgUno, main .imgTres, main .imgCinco, main .imgSeis, main .imgSiete, main .imgDiez {
  border-top-right-radius: 50%;
  border: black 10px double;
  background-clip: content-box;
}

body {
  background-color: black;
}

header {
  background-color: #87cefa;
}
header .redirEccion {
  text-align: left;
}
header div .headErimg {
  width: 35%;
  background-color: #87cefa;
  padding: 2px;
}
header .foNdo {
  background-color: #87cefa;
}
header .foNdo2 li a {
  display: flex;
  justify-content: center;
  font-size: xx-small;
  color: black;
  font-weight: 700;
  margin-right: 90px;
}
header .foNdo2 li a:active {
  background-color: #e6e6dd;
}
header .foNdo2 li a:hover {
  background-color: #e6e6dd;
  text-shadow: 1px 1px yellow;
}

main section h1 {
  text-shadow: 2px 2px 2px rgb(239, 44, 44), 0 0 1em black, 0 0 1em black;
  text-align: center;
  justify-content: center;
  color: yellow;
}
main section div {
  margin: 10px;
}
main h2 {
  text-shadow: 2px 2px 2px rgb(239, 44, 44), 0 0 1em black, 0 0 1em black;
  margin: 10px;
  text-align: center;
  color: yellow;
  text-decoration: underline;
}
main h3 {
  text-shadow: 2px 2px 2px black, 0 0 1em black, 0 0 1em #0678c3;
  color: #87cefa;
  text-align: justify;
}
main .coloRh3 {
  color: rgb(255, 223, 45);
  text-shadow: 2px 2px 2px black, 0 0 1em yellow, 0 0 1em yellow;
}
main div img {
  height: 100%;
  width: 100%;
}
main iframe {
  border: 5px solid black;
}

footer section img {
  border-radius: 10%/50%;
  border: 2px black solid;
  width: 20%;
}
footer section .a2 {
  color: #001b3b;
  padding: 5px;
}

/*# sourceMappingURL=estilo.css.map */
